.container-nav {
  display: flex;
  justify-content: space-between;
  background-color: steelblue;
  align-items: center;
  height: 50px;
  padding: 0 50px;
}

.container-nav ul {
  display: flex;
  justify-content: center;
  gap: 10px;
}
li {
  list-style: none;
}
